/*
Theme Name: Desafio
Author: Marisa Ramos
 */


/*--------------------------------------------------*/
/*                      GERAL                       */
/*--------------------------------------------------*/
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: justify;
	background-color: #DDDDDD;
}

header {
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 99999;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
}

header,
footer {
	background-color: #EEEEEE;
}

a {
	color: #212529;
	font-weight: 600;
}

a:hover {
	color: #666666;
	text-decoration: none;
}

/*--------------------------------------------------*/
/*                       MENU                       */
/*--------------------------------------------------*/
#menu-menu {
	padding-left: 0;
	margin-bottom: 0;
}

#menu-menu li {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

#menu-menu li a {
	display: block;
	position: relative;
	margin: 0 10px;
	padding: 6px 0;
	font-size: 18px;
	line-height: normal;
	text-transform: uppercase;
}

#menu-menu li:first-child a {
	margin-left: 0;
}

#menu-menu li.current-menu-item a {
	color: #666666;
}
